---
layout: markdown_page
title: "Category Direction - Navigation"
description: "This page outlines the direction for the navigation product category."
canonical_path: "/direction/manage/personal_productivity/navigation/"
epic_roadmap: https://gitlab.com/groups/gitlab-org/-/roadmap?state=all&sort=start_date_asc&layout=QUARTERS&timeframe_range_type=THREE_YEARS&label_name%5B%5D=Category:Navigation&label_name%5B%5D=direction&progress=COUNT&show_progress=true&show_milestones=false&milestones_type=GROUP&show_labels=false
---

- TOC
{:toc}

|                       |                               |
| -                     | -                             |
| Stage                 | [Manage](/direction/manage/)  |
| Maturity              | N/A |
| Content Last Reviewed | `2024-07-19`                  |

## Introduction and how you can help

<%= partial("../templates/intro.html", { locals: { context: "Navigation category", label: "Category:Navigation" }}) %>

## Overview

This joint category is shared between the navigation elements of GitLab and the settings that make it configurable. These aspects serve as the framing for the product itself. Our goal is to make these areas of the product more useful, predictable, and convenient.

Navigation is the highway through which almost every feature is accessed or discovered, and it must be accessible for all types of people and abilities. For this reason, the navigation structure is one of the most important parts of any application’s user interface.

## Strategy and Themes

The complexity and breadth of GitLab weighs heavily on both the navigation and settings. In FY24 we invested in [overhauling our core navigation](https://gitlab.com/groups/gitlab-org/-/epics/9044 "Overhaul the core navigation experience"), and now we are looking towards how the navigation must evolve to address existing pain points while also accommodating future changes to the product. With settings we must address the historical challenges: discoverability, consistency, access, and visibility.

The navigation experience _must_ be described as intuitive. When navigation is effective, users trust that they can rely on it to help orient and empower themselves within the product. To aid in decision making we will continue to invest in these themes:

- Minimizing the feeling of being overwhelmed
- Orienting users across the platform
- Making it easier to pick up where you left off

Executing this plan we will requires iterating in three ways:

1. Addressing insights from our quarterly navigation survey
1. Simplifying the navigation structure by removing and relocating outdated items
1. Refining the quality and polish of the experience to be more useful, functional, and intuititve

In addition, the Personal productivity group owns the [navigation structures](https://handbook.gitlab.com/handbook/product/ux/navigation/) of GitLab and is responsible for reviewing and approving any proposed changes. Given the effort required by these requests we dedicate time each milestone to support teams with [this process](https://handbook.gitlab.com/handbook/product/ux/navigation/#how-to-propose-a-change-that-impacts-navigation).

## 1 year plan

[**Easily switch between projects**](https://gitlab.com/groups/gitlab-org/-/epics/13076)

We conduct quarterly feedback surveys on GitLab's navigation. Users have mentioned navigating between projects as a major challenge during the most recent surveys. We will seek to improve that experience soon.

### What is next for us?

You can view our [roadmap in GitLab](<%= current_page.data.epic_roadmap %>).

<!--
Hoping that we can embed roadmap views one day...
<figure class="video_container">
<iframe width="560" height="315" src="<%= current_page.data.epic_roadmap %>" title="GitLab roadmap view" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</figure>
-->

### What we are currently working on

<%= partial("../templates/kickoff_video.html") %>

### Beyond 1 year

**Workflow-oriented navigation**

Customers need GitLab to offer complete solutions to complex problems. Often solving a single problem requires using many features across the product. Our long-term goal is to provide workflow-oriented navigation throughout GitLab, seamlessly connecting all of the features it offers.

## Maturity Plan

As this is not a marketing category, we don't have a specific measure of maturity.

## Target Audience

All [roles & personas](https://about.gitlab.com/handbook/product/personas/) interact with this category in some capacity.